<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Crear tareas</title>
</head>

<body>
    <!-- VISTA 2: Tareas -->
    <div id="vistaTareas" class="vista oculto">

        <div class="vistaHeader">
            <h1>Tareas</h1>
            <a href="../index.html" class="btn btnPrimary">Ir a Registro de Usuarios</a>
        </div>

        <div class="seccionTareas">
            <form id="formTarea" class="formSection">
                <div class="formGroup">
                    <label for="docTarea" class="formLabel">Documento del usuario</label>
                    <input type="text" name="docTarea" id="docTarea" class="formInput" placeholder="Ingrese documento del usuario">
                </div>
                <div class="formGroup">
                    <label for="tituloTarea" class="formLabel">Titulo de la tarea</label>
                    <input type="text" name="tituloTarea" id="tituloTarea" class="formInput" placeholder="Ingrese el titulo">
                </div>
                <div class="formGroup">
                    <label for="descripcionTarea" class="formLabel">Descripcion</label>
                    <input type="text" name="descripcionTarea" id="descripcionTarea" class="formInput formTextarea"
                        placeholder="Ingrese la descripcion">
                </div>
                <div class="formGroup">
                    <button class="btn btnPrimary" id="btnCrearTarea">Crear Tarea</button>
                </div>
            </form>
            <div id="listaTareas" class="listaTareas"></div>
        </div>

    </div>
</body>

</html>